* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

form {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
}

form .inputDiv {
    padding: 20px;
    width: 100%;
    text-align: center;
}

form .check {
    padding: 20px;
    width: 100%;
    text-align: center;
}
form .check label{
    text-align: left;
    padding: 0 0 10px 15px;
    display: inline-block;
}

form .inputDiv label {
    text-align: left;
    padding: 0 15px 5px;
    display: block;
}

form .inputDiv #title,
form .inputDiv #img,
form .inputDiv #year,
form .inputDiv #description {
    width: 100%;
    display: block;
    outline: none;
    background: #f1f1f1;
    min-height: 50px;
    border-radius: 5px;
    padding: 15px;
    border: none;
}

.pulsante {
    background: #f1f1f1;
    border: 2px #ee7560 solid;
    color: #ee7560;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btnContainer{
    width: 100%;
    text-align: center;
}

.pulsante:hover{
    background:#ee7560;
    color: black;
}

.cardsWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 50px 50px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}


.cardsWrapper .card h3 {
    padding: 0 0 30px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 90%;
}

.cardsWrapper .card .delete{
    width: 10%;
    text-align: center;
    padding: 0 0 5px 0;
    transform: translateY(-15px);
    cursor: pointer;
}

.cardsWrapper .card .delete:hover{
    color: #727272;
}

.cardsWrapper .card .year{
    width: 100%;
    text-align: left;
    padding: 0 0 5px 0;
    font-size: 25px;
}
.cardsWrapper .card .description{
    width: 100%;
    text-align: left;
    padding: 10px 0 0 0;
}
.cardsWrapper .card .genres{
    width: 100%;
    text-align: right;
    padding: 10px 25px 0 0;
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 25px 0;
    color: #ee7560;
    width: 100%;
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}
h2 {
    display: inline-block;
    text-align: center;
    padding: 25px 0;
    color: #ee7560;
    width: 100%;
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}


.cardsWrapper .card {
    width: 24%;
    background: white;
    margin: 5px;
    padding: 30px 5px;
    border-radius: 10px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.cardsWrapper .remove{
    display: none;
}

.cardsWrapper .card img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#hiddenDiv{
    display: none;
}


.hiddenDesc.not{
    display: inline;
}

#hiddenDiv.popUp{
    position: fixed;
    width: 100%;    
    height: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    background: #00000077;
    z-index: 999;
}
.cardsWrapper .popUp{
    position: fixed;
    width: 90%;
    height: 90%;
    top: 3%;
    border: 5px solid #ee7560;
    background: #f1f1f1;
    z-index: 1000;
    text-align: start;
    display: flex;
    align-self: center;
    justify-content:flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    object-fit: contain;
}
.cardsWrapper .popUp img{
    width: 50%;
    height: 80%;
    object-fit: contain;
}

.cardsWrapper .popUp .year{
    width: 100%;
    text-align: right;
    padding: 0 25px 5px 0;
    font-size: 25px;
}
.cardsWrapper .popUp .description{
    width: 50%;
    text-align: left;
    padding: 10px 25px 0 25px;
}
.cardsWrapper .popUp h3{
    text-align:start;
    padding: 10px 0 0 70px;
    font-size: 50px;
}


.hidden{
    display: none;
}
.hiddenDesc{
    display: none;
}