*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(33, 0, 71);
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.citazione{
    width: 100%;
    text-align:center;
    padding: 20px 0;
}

#randomBtn{
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    padding: 20px;
    border: 2px solid rgba(255, 0, 0, 0.452);
    border-radius: 20px;
    cursor: pointer;
}